/* FLEXBOX & GRI CLASS */

body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
}

.container img{
    height: 25vh;
    margin: 0;
}

.container .img1{
    width: 34%;
    margin: 0;
}

.container .img2{
    width: 33%;
    margin: 0;
}

.container .img3{
    width: 20%;
    margin: 0;
}