body{
    background-color: lightblue;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}
h1{
    text-align: center;
    color: blueviolet;  
}
p{
    text-align: justify;
    width: fit-content;
}
.center{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.khasiat span{
    font-weight: 600;
}
.foto{
    background-color: black;
}
.foto img{
    width: 23%;
}
.promo{
    color: red;
    text-align: center;
}
.cod{
    margin: auto;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.cod p{
    background-color: aqua;
    border: 1px dotted red;
    text-align: center;
    font-weight: bold;
    color: blue;
}
#tombol{
    background: yellow;
    color: red;
    display: block;
    margin: auto;
}

/* TABLE */
.tabel-data{
    background-color: #fff;
    margin-top: 20px;
    padding: 30px 50px 30px 50px;
}
#tabel-data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* margin-top: 20px; */
  }
  
  #tabel-data td, #tabel-data th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tabel-data tr:nth-child(even){background-color: #daeaf6;}
  
  #tabel-data tr:hover {background-color: #ddd;}
  
  #tabel-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #379dd5;
    color: white;
  }